# Python
__pycache__/
*.py[cod]
*.pyo
.DS_Store
*.egg-info/
build/
dist/

# Virtual Environments
venv/
.env/

# PyCharm Specific
.idea/

# Logs
*.log
caddy_logs/

# MacOS
.DS_Store

# FastHTML Session Keys
app/.sesskey

# Claude Code
CLAUDE.md

# Node
node_modules/
dist/
npm-debug.log*
